Repository Swiss-Digital-Assets-Institute/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, universal-chart, tha-app, webapp, infra

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file:
          - "*"
          - ".github/**"

universal-chart:
  - changed-files:
      - any-glob-to-any-file: "charts/universal-chart/**"

tha-app:
  - changed-files:
      - any-glob-to-any-file: "charts/tha-app/**"

webapp:
  - changed-files:
      - any-glob-to-any-file: "charts/webapp/**"

infra:
  - changed-files:
      - any-glob-to-any-file: "charts/infra/**"

feature:
  - head-branch: ["^feature", "feature"]

hotfix:
  - head-branch: ["^hotfix", "hotfix", "^bugfix", "bugfix", "^fix", "fix"]

release:
  - head-branch: ["^release", "release"]

breaking:
  - head-branch: ["^breaking", "breaking", "^major", "major"]

chore:
  - head-branch: ["^chore", "chore"]

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.8.tgz
  .cr-release-packages/infra-1.7.9.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.9.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

getting rid of special characters in password of rds
  charts/infra/templates/_helpers.tpl
Labels: infra

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.9.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping up the version of helm chart infra manually
  charts/infra/.bumpversion.cfg
  charts/infra/Chart.yaml
Labels: infra

Bump infra chart version: 1.7.10 → 1.7.11
  charts/infra/.bumpversion.cfg
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.11.tgz
  .cr-release-packages/infra-1.7.9.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.11.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

got rid of random password generation as every time on every single release, it would generate a random passoword and then it would update the DB.
  charts/infra/templates/rds.yaml
Labels: infra

got rid of the random password generator helper function
  charts/infra/templates/_helpers.tpl
Labels: infra

modified tags
  charts/infra/templates/_helpers.tpl
  charts/infra/values-ci.yaml
  charts/infra/values.yaml
Labels: infra

Bump infra chart version: 1.7.11 → 1.7.12
  charts/infra/.bumpversion.cfg
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.11.tgz
  .cr-release-packages/infra-1.7.12.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.12.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[DTCP-323] feat :hammer: Adjust Resources
  charts/webapp/templates/_helpers/_labels.tpl
  charts/webapp/values-ci.yaml
Labels: webapp

[DTCP-323] feat :hammer: Adjust Resources
  charts/webapp/values-ci.yaml
Labels: webapp

Bump webapp chart version: 0.0.40 → 0.1.0
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.12.tgz
  .cr-release-packages/webapp-0.1.0.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.1.0.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[DTCP-323] feat :hammer: Adjust Resources
  charts/webapp/templates/_helpers/_labels.tpl
  charts/webapp/values-ci.yaml
Labels: webapp

Bump webapp chart version: 0.1.0 → 0.2.0
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.12.tgz
  .cr-release-packages/webapp-0.1.0.tgz
  .cr-release-packages/webapp-0.2.0.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.2.0.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

feat: Add Helm chart for Australian Payments Plus
  charts/australian-payments-plus/.helmignore
  charts/australian-payments-plus/Chart.yaml
  charts/australian-payments-plus/README.md
  charts/australian-payments-plus/templates/_helpers/_annotations.tpl
  charts/australian-payments-plus/templates/_helpers/_envs.tpl
  charts/australian-payments-plus/templates/_helpers/_helpers.tpl
  charts/australian-payments-plus/templates/_helpers/_labels.tpl
  charts/australian-payments-plus/templates/_helpers/_liveness-probe.tpl
  charts/australian-payments-plus/templates/_helpers/_ns.tpl
  charts/australian-payments-plus/templates/_helpers/_readiness-probe.tpl
  charts/australian-payments-plus/templates/deployment.yaml
  charts/australian-payments-plus/templates/hpa.yaml
  charts/australian-payments-plus/templates/istio/_virtual-service.tpl
  charts/australian-payments-plus/templates/istio/auth-policy.yaml
  charts/australian-payments-plus/templates/istio/peer-authentication.yaml
  charts/australian-payments-plus/templates/istio/virtual-service.yaml
  charts/australian-payments-plus/templates/namespace.yaml
  charts/australian-payments-plus/templates/secrets/external-secrets.yaml
  charts/australian-payments-plus/templates/service-account.yaml
  charts/australian-payments-plus/templates/service.yaml
  charts/australian-payments-plus/templates/warnings.tpl
  charts/australian-payments-plus/values-ci.yaml
  charts/australian-payments-plus/values.yaml
Labels: none
