Repository Swiss-Digital-Assets-Institute/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, universal-chart, tha-app, webapp, infra

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file:
          - "*"
          - ".github/**"

universal-chart:
  - changed-files:
      - any-glob-to-any-file: "charts/universal-chart/**"

tha-app:
  - changed-files:
      - any-glob-to-any-file: "charts/tha-app/**"

webapp:
  - changed-files:
      - any-glob-to-any-file: "charts/webapp/**"

infra:
  - changed-files:
      - any-glob-to-any-file: "charts/infra/**"

feature:
  - head-branch: ["^feature", "feature"]

hotfix:
  - head-branch: ["^hotfix", "hotfix", "^bugfix", "bugfix", "^fix", "fix"]

release:
  - head-branch: ["^release", "release"]

breaking:
  - head-branch: ["^breaking", "breaking", "^major", "major"]

chore:
  - head-branch: ["^chore", "chore"]

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.6.4.tgz
  .cr-release-packages/infra-1.7.4.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.4.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

linting changes
  charts/infra/values.yaml
Labels: infra

fix :hammer: Random Secret
  charts/infra/templates/rds.yaml
Labels: infra

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.4.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

fix :hammer: Random Secret
  charts/infra/.bumpversion.cfg
Labels: infra

Bump infra chart version: 1.7.4 → 1.7.5
  charts/infra/.bumpversion.cfg
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.4.tgz
  .cr-release-packages/infra-1.7.5.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.5.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

removed @ from rds password
  charts/infra/templates/_helpers.tpl
Labels: infra

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.5.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping up infra chart version
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.5.tgz
  .cr-release-packages/infra-1.7.6.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.6.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping up infra chart in .bump cfg file
  charts/infra/.bumpversion.cfg
  charts/infra/values-ci.yaml
Labels: infra

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.6.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping up infra chart version in bumf cfg file
  charts/infra/.bumpversion.cfg
Labels: infra

Bump infra chart version: 1.7.6 → 1.7.7
  charts/infra/.bumpversion.cfg
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.6.tgz
  .cr-release-packages/infra-1.7.7.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.7.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

adding argo annotations instead of helm annotations
  charts/infra/templates/rds.yaml
Labels: infra

Bump infra chart version: 1.7.7 → 1.7.8
  charts/infra/.bumpversion.cfg
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.7.tgz
  .cr-release-packages/infra-1.7.8.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.7.8.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.7.8.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping up chart version manually
  charts/infra/Chart.yaml
Labels: infra
