Repository Swiss-Digital-Assets-Institute/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, universal-chart, tha-app, webapp, infra

.github/labeler.yml:

repo:
  - changed-files:
      - any-glob-to-any-file:
          - "*"
          - ".github/**"

universal-chart:
  - changed-files:
      - any-glob-to-any-file: "charts/universal-chart/**"

tha-app:
  - changed-files:
      - any-glob-to-any-file: "charts/tha-app/**"

webapp:
  - changed-files:
      - any-glob-to-any-file: "charts/webapp/**"

infra:
  - changed-files:
      - any-glob-to-any-file: "charts/infra/**"

feature:
  - head-branch: ["^feature", "feature"]

hotfix:
  - head-branch: ["^hotfix", "hotfix", "^bugfix", "bugfix", "^fix", "fix"]

release:
  - head-branch: ["^release", "release"]

breaking:
  - head-branch: ["^breaking", "breaking", "^major", "major"]

chore:
  - head-branch: ["^chore", "chore"]

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.4.0.tgz
  charts/infra/README.md
Labels: infra

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping up the version of infra manually
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.4.0.tgz
  .cr-release-packages/infra-1.5.0.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.5.0.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

fixed rds backup in infra helm chart
  charts/infra/templates/rds.yaml
Labels: infra

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.5.0.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping chart version of infra manually
  charts/infra/Chart.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.5.0.tgz
  .cr-release-packages/infra-1.6.0.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.6.0.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

bumping chart version of infra manually and adding a few type casting fixes
  charts/infra/Chart.yaml
  charts/infra/templates/rds.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.6.0.tgz
  .cr-release-packages/infra-1.6.1.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.6.1.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[fix] rds version mismatch fixed
  charts/infra/Chart.yaml
  charts/infra/values.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.6.1.tgz
  .cr-release-packages/infra-1.6.2.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.6.2.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[fix] s3 Bucket OwnershipCOntrols
  charts/infra/Chart.yaml
  charts/infra/templates/s3-buckets.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.6.2.tgz
  .cr-release-packages/infra-1.6.3.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.6.3.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[fix] s3 Bucket OwnershipCOntrols as per resource definition
  charts/infra/Chart.yaml
  charts/infra/templates/s3-buckets.yaml
Labels: infra

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/infra-1.6.3.tgz
  .cr-release-packages/infra-1.6.4.tgz
  charts/infra/README.md
Labels: infra

:robot: [github actions actor] update artifact list
  infra-1.6.4.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

added new templates for ecr and have modified the provider config reference
  charts/infra/templates/_apiversion.tpl
  charts/infra/templates/_aws-policy.tpl
  charts/infra/templates/ecr.yaml
Labels: infra

added name tags for other resources
  charts/infra/templates/cdn.yaml
  charts/infra/templates/kms.yaml
  charts/infra/templates/rds.yaml
Labels: infra

Fixed ecr witjout any errors
  charts/infra/templates/ecr.yaml
  charts/infra/values.yaml
Labels: infra

bumped up the chart minor version
  charts/infra/Chart.yaml
Labels: infra
