Repository Swiss-Digital-Assets-Institute/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, universal-chart, tha-app, webapp

Bump webapp chart version: 0.0.1 → 0.0.2
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/tha-app-0.1.3.tgz
  .cr-release-packages/universal-chart-0.1.0.tgz
  .cr-release-packages/webapp-0.0.2.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.2.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

update tha-app chart
  charts/tha-app/templates/helpers/_capabilities.tpl
  charts/tha-app/templates/ingress.yml
  charts/tha-app/templates/istiovirtualservice.yml
  charts/tha-app/templates/svc.yml
  charts/tha-app/values.yaml
Labels: tha-app

:hammer: Fix Virtual Service
  charts/webapp/templates/istio/_virtual-service.tpl
  charts/webapp/templates/istio/virtual-service.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: webapp

Bump webapp chart version: 0.0.2 → 0.0.3
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/tha-app-0.1.3.tgz
  .cr-release-packages/universal-chart-0.1.0.tgz
  .cr-release-packages/webapp-0.0.2.tgz
  .cr-release-packages/webapp-0.0.3.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.3.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:lock: Add external-secrets
  charts/webapp/templates/_envs.tpl
  charts/webapp/templates/deploy.yaml
  charts/webapp/templates/external-secrets.yaml
  charts/webapp/templates/rollouts/argo-rollout.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: webapp

:lock: Add transaction-gateway
  charts/webapp/values.yaml
Labels: webapp

:lock: Add transaction-gateway
  charts/tha-app/values-ci.yaml
  charts/tha-app/values.yaml
Labels: tha-app

:lock: Add transaction-gateway
  charts/universal-chart/values-ci.yaml
Labels: universal-chart

Bump webapp chart version: 0.0.3 → 0.0.4
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/tha-app-0.1.3.tgz
  .cr-release-packages/universal-chart-0.1.0.tgz
  .cr-release-packages/webapp-0.0.3.tgz
  .cr-release-packages/webapp-0.0.4.tgz
  charts/tha-app/README.md
  charts/webapp/README.md
Labels: tha-app, webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.4.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Fix Consumer Labels
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/_nginx.tpl
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: webapp

Bump webapp chart version: 0.0.4 → 0.0.5
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/tha-app-0.1.3.tgz
  .cr-release-packages/universal-chart-0.1.0.tgz
  .cr-release-packages/webapp-0.0.4.tgz
  .cr-release-packages/webapp-0.0.5.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.5.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Fix Consumer Labels
  charts/webapp/templates/consumer.yaml
  charts/webapp/templates/deploy.yaml
  charts/webapp/templates/image-pull-secret.yaml
  charts/webapp/templates/rollouts/argo-rollout.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: webapp

:telescope: Fix Consumer Labels
  charts/webapp/values-ci.yaml
Labels: webapp

Bump webapp chart version: 0.0.5 → 0.0.6
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/tha-app-0.1.3.tgz
  .cr-release-packages/webapp-0.0.5.tgz
  .cr-release-packages/webapp-0.0.6.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.6.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:telescope: Fix Consumer Labels
  charts/webapp/templates/consumer.yaml
  charts/webapp/values-ci.yaml
Labels: webapp

Bump webapp chart version: 0.0.6 → 0.0.7
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.6.tgz
  .cr-release-packages/webapp-0.0.7.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.7.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

universal-chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/universal-chart/**'

tha-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/tha-app/**'

webapp:
  - changed-files:
    - any-glob-to-any-file: 'charts/webapp/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']
