Repository Swiss-Digital-Assets-Institute/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, universal-chart, tha-app, webapp

fix:(DTCP-261): change apiVersion for PodLogs (#65)
  charts/webapp/templates/logging/podlogs.yaml
Labels: webapp

Bump webapp chart version: 0.0.37 → 0.0.38
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.37.tgz
  .cr-release-packages/webapp-0.0.38.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.38.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

fix:(DTCP-261): revert changes
  charts/webapp/templates/logging/podlogs.yaml
Labels: webapp

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.38.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[Istio] feat: Add Ambient Mode
  charts/webapp/templates/logging/podlogs.yaml
  charts/webapp/values.yaml
Labels: webapp

Bump webapp chart version: 0.0.38 → 0.0.39
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.38.tgz
  .cr-release-packages/webapp-0.0.39.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.39.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

added infra chart
  .gitignore
  charts/infra/.helmignore
  charts/infra/Chart.yaml
  charts/infra/templates/_apiversion.tpl
  charts/infra/templates/_aws-policy.tpl
  charts/infra/templates/_helpers.tpl
  charts/infra/templates/ecr.yaml
  charts/infra/templates/iam-role.yaml
  charts/infra/templates/kms.yaml
  charts/infra/templates/s3-buckets.yaml
  charts/infra/values.yaml
Labels: repo

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

universal-chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/universal-chart/**'

tha-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/tha-app/**'

webapp:
  - changed-files:
    - any-glob-to-any-file: 'charts/webapp/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']
