Repository Swiss-Digital-Assets-Institute/helm-charts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, universal-chart, tha-app, webapp

.github/labeler.yml:

repo:
  - changed-files:
    - any-glob-to-any-file:
      - "*"
      - ".github/**"

universal-chart:
  - changed-files:
    - any-glob-to-any-file: 'charts/universal-chart/**'

tha-app:
  - changed-files:
    - any-glob-to-any-file: 'charts/tha-app/**'

webapp:
  - changed-files:
    - any-glob-to-any-file: 'charts/webapp/**'

feature:
  - head-branch: ['^feature', 'feature']

hotfix:
  - head-branch: ['^hotfix', 'hotfix', '^bugfix', 'bugfix']

release:
  - head-branch: ['^release', 'release']

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.13.tgz
  .cr-release-packages/webapp-0.0.14.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.14.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

fix(HOTFIX): rename test-connection
  charts/webapp/templates/tests/test-connection.yaml
Labels: webapp

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.14.tgz
Labels: none

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

fix(HOTFIX): rename test-connection#2
  charts/webapp/templates/tests/test-connection.yaml
Labels: webapp

Bump webapp chart version: 0.0.14 → 0.0.15
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.14.tgz
  .cr-release-packages/webapp-0.0.15.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.15.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

:hammer: Enable NodeJS Instrumentation
  charts/webapp/templates/opentelemetry/instrumentaion.yaml
  charts/webapp/values-ci.yaml
Labels: webapp

Bump webapp chart version: 0.0.15 → 0.0.16
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.15.tgz
  .cr-release-packages/webapp-0.0.16.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.16.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[webapp] :broom: Remove namespaceName
  README.md
  charts/webapp/templates/istio/_virtual-service.tpl
  charts/webapp/templates/istio/virtual-service.yaml
  charts/webapp/values.yaml
Labels: repo, webapp

Bump webapp chart version: 0.0.16 → 0.0.17
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.16.tgz
  .cr-release-packages/webapp-0.0.17.tgz
  charts/webapp/README.md
Labels: webapp

:robot: [github actions actor] update artifact list
  webapp-0.0.17.tgz
Labels: repo

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[webapp] :arrows_counterclockwise: Add autoReloader feature
  charts/webapp/templates/_helpers/_annotations.tpl
  charts/webapp/templates/_helpers/_pod-annotations.tpl
  charts/webapp/templates/consumer.yaml
  charts/webapp/templates/deployment.yaml
  charts/webapp/templates/rollouts/argo-rollout.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: webapp

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.17.tgz
  charts/webapp/README.md
Labels: webapp

[ci skip] :robot: [github actions actor] - update index.yaml
  index.yaml
Labels: repo

[ci skip] :zap: Update README
  README.md
Labels: repo

[ci skip] :zap: Update README
  .github/workflows/main.yaml
  charts/webapp/Chart.yaml
Labels: repo, webapp

[ci skip] :zap: Update README
  README.md
Labels: repo

[webapp] :arrows_counterclockwise: Add autoReloader feature
  charts/webapp/templates/deployment.yaml
Labels: webapp

Bump webapp chart version: 0.0.17 → 0.0.18
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

[webapp] :arrows_counterclockwise: Add autoReloader feature
  charts/webapp/templates/deployment.yaml
Labels: webapp

[webapp] :arrows_counterclockwise: Add autoReloader feature
  charts/webapp/templates/configmap.yaml
Labels: webapp

[webapp] :arrows_counterclockwise: Add autoReloader feature
  README.md
Labels: repo

Bump webapp chart version: 0.0.18 → 0.0.19
  charts/webapp/.bumpversion.cfg
  charts/webapp/Chart.yaml
Labels: webapp

[webapp] :arrows_counterclockwise: Add autoReloader feature
  .github/workflows/main.yaml
Labels: repo

[webapp] :arrows_counterclockwise: Add autoReloader feature
  .github/workflows/main.yaml
Labels: repo

Update index.yaml
  index.yaml
Labels: repo

:robot: Update Docs
  .cr-index/index.yaml
  .cr-release-packages/webapp-0.0.17.tgz
  .cr-release-packages/webapp-0.0.19.tgz
  charts/webapp/README.md
Labels: webapp
