Repository Swiss-Digital-Assets-Institute/helm-charts, pull requests merged in 2024-11, with the labels that each got.

#41 [webapp] :arrows_counterclockwise: Add autoReloader feature
  charts/webapp/templates/_helpers/_annotations.tpl
  charts/webapp/templates/_helpers/_pod-annotations.tpl
  charts/webapp/templates/consumer.yaml
  charts/webapp/templates/deployment.yaml
  charts/webapp/templates/rollouts/argo-rollout.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: feature, webapp

#42 [webapp] :arrows_counterclockwise: Add autoReloader feature
  charts/webapp/templates/deployment.yaml
Labels: patch, hotfix, webapp

#43 [webapp] :arrows_counterclockwise: Add autoReloader feature
  README.md
  charts/webapp/templates/configmap.yaml
Labels: repo, patch, hotfix, webapp

#45 [webapp] :arrows_counterclockwise: Add autoReloader feature
  .github/workflows/main.yaml
Labels: repo, patch, hotfix

#46 feat(UPDATE): update strategyType for deployment
  charts/webapp/templates/deployment.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#48 Hotfix/webapp/update replicas
  charts/webapp/templates/deployment.yaml
Labels: patch, hotfix, webapp

#49 Hotfix/webapp/consumer
  charts/webapp/templates/consumer.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#50 [webapp] :hammer: Fix Consumer Annotation
  charts/webapp/templates/deployment.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#51 [webapp] :hammer: Add custom labels
  charts/webapp/templates/_helpers/_annotations.tpl
  charts/webapp/templates/_helpers/_helpers.tpl
  charts/webapp/templates/_helpers/_labels.tpl
  charts/webapp/templates/deployment.yaml
  charts/webapp/templates/namespace.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#52 [webapp] :hammer: Add custom labels
  charts/webapp/templates/deployment.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#53 [GitOps] :zap: Update Repository Structure
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp
