Repository Swiss-Digital-Assets-Institute/helm-charts, pull requests merged in 2024-09, with the labels that each got.

#2 :zap: First Commit
  .github/CODEOWNERS
  universal-chart/templates/tests/test-connection.yaml
Labels: repo, feature

#3 :zap: First Commit
  charts/tha-app/.helmignore
  charts/tha-app/Chart.yaml
  charts/tha-app/templates/NOTES.txt
  charts/tha-app/templates/configmap.yml
  charts/tha-app/templates/cronjob.yml
  charts/tha-app/templates/deployment.yml
  charts/tha-app/templates/extra.yml
  charts/tha-app/templates/helm-hooks.yml
  charts/tha-app/templates/helpers/_affinities.tpl
  charts/tha-app/templates/helpers/_app.tpl
  charts/tha-app/templates/helpers/_capabilities.tpl
  charts/tha-app/templates/helpers/_configmaps.tpl
  charts/tha-app/templates/helpers/_ingress.tpl
  charts/tha-app/templates/helpers/_pod.tpl
  charts/tha-app/templates/helpers/_secrets.tpl
  charts/tha-app/templates/helpers/_tplvalues.tpl
  charts/tha-app/templates/helpers/_volumes.tpl
  charts/tha-app/templates/helpers/_workloads.tpl
  charts/tha-app/templates/hpa.yaml
  charts/tha-app/templates/ingress.yml
  charts/tha-app/templates/job.yml
  charts/tha-app/templates/pdb.yaml
  charts/tha-app/templates/pvc.yml
  charts/tha-app/templates/secret.yml
  charts/tha-app/templates/serviceaccount.yml
  charts/tha-app/templates/servicemonitor.yml
  charts/tha-app/templates/statefulset.yml
  charts/tha-app/templates/svc.yml
  charts/tha-app/values.yaml
  charts/universal-chart/.helmignore
  charts/universal-chart/Chart.yaml
  charts/universal-chart/README.md
  charts/universal-chart/templates/NOTES.txt
  charts/universal-chart/templates/_helpers.tpl
  charts/universal-chart/templates/deployment.yaml
  charts/universal-chart/templates/hpa.yaml
  charts/universal-chart/templates/ingress.yaml
  charts/universal-chart/templates/service.yaml
  charts/universal-chart/templates/serviceaccount.yaml
  charts/universal-chart/templates/tests/test-connection.yaml
  charts/universal-chart/values.yaml
Labels: feature, universal-chart, tha-app

#5 :zap: First Commit
  charts/tha-app/templates/serviceaccount.yml
Labels: feature, tha-app

#6 :hammer: Fix Service Account
  charts/tha-app/templates/helpers/_app.tpl
  charts/tha-app/templates/serviceaccount.yml
  charts/tha-app/values.yaml
Labels: tha-app, patch, hotfix

#9 :hammer: Fix Service Account
  charts/tha-app/Chart.yaml
Labels: feature, tha-app

#10 :hammer: Fix Service Account
  charts/tha-app/README.md
  charts/tha-app/values.yaml
Labels: feature, tha-app, hotfix

#12 :hammer: Fix Service Account
  charts/tha-app/templates/configmap.yml
Labels: tha-app, hotfix

#13 :hammer: Fix Service Account
  charts/tha-app/templates/configmap.yml
Labels: feature, tha-app

#15 :hammer: Fix Service Account
  .github/workflows/main.yaml
Labels: repo, feature

#16 :hammer: Fix Service Account
  charts/tha-app/templates/cronjob.yml
Labels: feature, tha-app

#17 :hammer: Fix Service Account
  charts/tha-app/templates/helpers/_app.tpl
  charts/tha-app/templates/serviceaccount.yml
Labels: feature, tha-app

#19 :hammer: Fix Service Account
  charts/tha-app/templates/pdb.yaml
Labels: tha-app, patch, hotfix

#20 :hammer: Fix Service Account
  charts/tha-app/templates/configmap.yml
  charts/tha-app/templates/cronjob.yml
  charts/tha-app/templates/helpers/_app.tpl
  charts/tha-app/templates/pdb.yaml
  charts/tha-app/templates/serviceaccount.yml
  charts/tha-app/templates/svc.yml
  charts/tha-app/values.yaml
Labels: tha-app, patch, hotfix

#21 :hammer: Fix Service Account
  chart/.gitignore
  chart/.helmignore
  chart/Chart.yaml
  chart/templates/NOTES.txt
  chart/templates/configmap.yml
  chart/templates/cronjob.yml
  chart/templates/deployment.yml
  chart/templates/extra.yml
  chart/templates/helm-hooks.yml
  chart/templates/helpers/_affinities.tpl
  chart/templates/helpers/_app.tpl
  chart/templates/helpers/_capabilities.tpl
  chart/templates/helpers/_configmaps.tpl
  chart/templates/helpers/_ingress.tpl
  chart/templates/helpers/_pod.tpl
  chart/templates/helpers/_secrets.tpl
  chart/templates/helpers/_tplvalues.tpl
  chart/templates/helpers/_volumes.tpl
  chart/templates/helpers/_workloads.tpl
  chart/templates/hpa.yaml
  chart/templates/ingress.yml
  chart/templates/job.yml
  chart/templates/pdb.yaml
  chart/templates/pvc.yml
  chart/templates/secret.yml
  chart/templates/serviceaccount.yml
  chart/templates/servicemonitor.yml
  chart/templates/statefulset.yml
  chart/templates/svc.yml
  chart/values.transaction-gateway-api.yaml
  chart/values.transaction-gateway-cli.yaml
  chart/values.transaction-gateway-cron.yaml
  charts/tha-app/Chart.yaml
  charts/tha-app/README.md
Labels: tha-app, patch, hotfix

#22 :hammer: Fix Service Account
  charts/tha-app/templates/ingress.yml
  charts/tha-app/templates/service.yml
  charts/tha-app/values.yaml
Labels: tha-app, patch, hotfix

#25 :hammer: Fix Virtual Service
  charts/webapp/templates/istio/_virtual-service.tpl
  charts/webapp/templates/istio/virtual-service.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#26 Hotfix/webapp/fix external secrets
  charts/tha-app/values-ci.yaml
  charts/tha-app/values.yaml
  charts/universal-chart/values-ci.yaml
  charts/webapp/templates/_envs.tpl
  charts/webapp/templates/deploy.yaml
  charts/webapp/templates/external-secrets.yaml
  charts/webapp/templates/rollouts/argo-rollout.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: universal-chart, tha-app, patch, hotfix, webapp

#27 :telescope: Fix Consumer Labels
  charts/webapp/templates/_helpers.tpl
  charts/webapp/templates/_nginx.tpl
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#28 Hotfix/webapp/fix consumer name
  charts/webapp/templates/consumer.yaml
  charts/webapp/templates/deploy.yaml
  charts/webapp/templates/image-pull-secret.yaml
  charts/webapp/templates/rollouts/argo-rollout.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#29 :telescope: Fix Consumer Labels
  charts/webapp/templates/consumer.yaml
  charts/webapp/values-ci.yaml
Labels: patch, hotfix, webapp

#30 Hotfix/webapp/add nginx container
  charts/webapp/templates/_helpers/_envs.tpl
  charts/webapp/templates/_helpers/_helpers.tpl
  charts/webapp/templates/_helpers/_liveness-probe.tpl
  charts/webapp/templates/_helpers/_nginx.tpl
  charts/webapp/templates/_helpers/_ns.tpl
  charts/webapp/templates/_helpers/_pod-annotations.tpl
  charts/webapp/templates/_helpers/_readiness-probe.tpl
  charts/webapp/templates/_helpers/_service.tpl
  charts/webapp/templates/configmap.yaml
  charts/webapp/templates/deploy.yaml
  charts/webapp/templates/istio/virtual-service.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#31 :telescope: Add Transaction Gateway
  charts/webapp/templates/service.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#32 fix(DEVOPS-48): add namespace for webapp VS
  charts/webapp/templates/istio/virtual-service.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#33 fix(DEVOPS-48): add namespace for webapp VS#2
  charts/webapp/templates/istio/virtual-service.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#34 fix(DEVOPS-48): add namespace for webapp VS#3
  charts/webapp/templates/istio/_virtual-service.tpl
  charts/webapp/templates/istio/virtual-service.yaml
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp

#35 fix(DEVOPS-48): add options toenable/disable probes
  charts/webapp/templates/deploy.yaml
Labels: patch, hotfix, webapp

#36 fix(DEVOPS-48): add options to enable/disable probes#2
  charts/webapp/values.yaml
Labels: patch, hotfix, webapp
