Repository Swiss-Digital-Assets-Institute/helm-charts, pull requests merged in 2025-07, with the labels that each got.

#68 added infra chart
  .github/labeler.yml
  .gitignore
  charts/infra/.helmignore
  charts/infra/Chart.yaml
  charts/infra/templates/_apiversion.tpl
  charts/infra/templates/_aws-policy.tpl
  charts/infra/templates/_helpers.tpl
  charts/infra/templates/_names.tpl
  charts/infra/templates/ecr.yaml
  charts/infra/templates/iam-role.yaml
  charts/infra/templates/kms.yaml
  charts/infra/templates/rds.yaml
  charts/infra/templates/s3-buckets.yaml
Labels: repo, feature, infra

#71 added values file and values-ci file
  charts/infra/values-ci.yaml
  charts/infra/values.yaml
Labels: feature, infra

#73 fix(infra) :hammer: Helm Chart bumb
  charts/infra/Chart.yaml
  charts/infra/values.yaml
Labels: patch, hotfix, infra

#74 adding defaults for s3 buckets in infra
  charts/infra/values.yaml
Labels: feature, infra

#75 adding infra helm chart in callBump2version.py
  .github/callBump2version.py
Labels: repo, feature

#76 added few more default values
  charts/infra/values.yaml
Labels: feature, infra

#79 fix(infra) :hammer: Helm Chart bumb
  .github/pr-branch-labeler.yml
  charts/infra/values-ci.yaml
Labels: repo, feature, infra

#80 fix(infra) :hammer: Helm Chart bumb
  charts/infra/values.yaml
Labels: feature, infra, minor

#83 Feature/infra/test bump4
  charts/infra/values.yaml
Labels: feature, infra, minor

#89 bumping chart version of infra manually
  charts/infra/Chart.yaml
Labels: infra

#90 bumping chart version of infra manually and adding a few type casting…
  charts/infra/Chart.yaml
  charts/infra/templates/rds.yaml
Labels: infra

#91 [fix] rds version mismatch fixed
  charts/infra/Chart.yaml
  charts/infra/values.yaml
Labels: infra

#94 Feature/ecr in management account
  charts/infra/Chart.yaml
  charts/infra/templates/_apiversion.tpl
  charts/infra/templates/_aws-policy.tpl
  charts/infra/templates/cdn.yaml
  charts/infra/templates/ecr.yaml
  charts/infra/templates/kms.yaml
  charts/infra/templates/rds.yaml
  charts/infra/values.yaml
Labels: feature, infra, minor
