Repository Swiss-Digital-Assets-Institute/helm-charts, pull requests merged in 2025-08, with the labels that each got.

#96 fix :hammer: Random Secret
  charts/infra/.bumpversion.cfg
Labels: patch, hotfix, infra

#97 added lookup function in the rds to check if secrets already exists. …
  charts/infra/templates/_helpers.tpl
  charts/infra/templates/rds.yaml
Labels: infra

#100 bumping up infra chart version in bumf cfg file
  charts/infra/.bumpversion.cfg
Labels: patch, hotfix, infra

#107 Feature/webapp/fix common labels
  charts/webapp/templates/_helpers/_labels.tpl
  charts/webapp/values-ci.yaml
Labels: feature, webapp, minor

#109 feat: Add Helm chart for Australian Payments Plus
  .github/labeler.yml
  .github/pr-branch-labeler.yml
  charts/australian-payments-plus/.bumpversion.cfg
  charts/australian-payments-plus/.helmignore
  charts/australian-payments-plus/Chart.yaml
  charts/australian-payments-plus/README.md
  charts/australian-payments-plus/templates/_helpers/_annotations.tpl
  charts/australian-payments-plus/templates/_helpers/_envs.tpl
  charts/australian-payments-plus/templates/_helpers/_helpers.tpl
  charts/australian-payments-plus/templates/_helpers/_labels.tpl
  charts/australian-payments-plus/templates/_helpers/_liveness-probe.tpl
  charts/australian-payments-plus/templates/_helpers/_ns.tpl
  charts/australian-payments-plus/templates/_helpers/_readiness-probe.tpl
  charts/australian-payments-plus/templates/deployment.yaml
  charts/australian-payments-plus/templates/hpa.yaml
  charts/australian-payments-plus/templates/istio/_virtual-service.tpl
  charts/australian-payments-plus/templates/istio/auth-policy.yaml
  charts/australian-payments-plus/templates/istio/peer-authentication.yaml
  charts/australian-payments-plus/templates/istio/virtual-service.yaml
  charts/australian-payments-plus/templates/namespace.yaml
  charts/australian-payments-plus/templates/secrets/external-secrets.yaml
  charts/australian-payments-plus/templates/service-account.yaml
  charts/australian-payments-plus/templates/service.yaml
  charts/australian-payments-plus/templates/warnings.tpl
  charts/australian-payments-plus/values-ci.yaml
  charts/australian-payments-plus/values.yaml
Labels: repo, feature, minor, australian-payments-plus

#111 feat: Enhance Helm chart documentation and configuration for Australian Payments Plus
  charts/australian-payments-plus/Chart.yaml
  charts/australian-payments-plus/templates/_helpers/_helpers.tpl
  charts/australian-payments-plus/values-ci.yaml
  charts/australian-payments-plus/values.yaml
Labels: feature, patch, australian-payments-plus

#112 Adjust Resources
  charts/webapp/templates/deployment.yaml
  charts/webapp/values-ci.yaml
  charts/webapp/values.yaml
Labels: feature, patch, hotfix, webapp

#113 Add External Secrets
  charts/infra/templates/_helpers/_helpers.tpl
  charts/infra/templates/rds/rds.yaml
  charts/infra/templates/secrets/external-secrets.yaml
  charts/infra/values-ci.yaml
  charts/infra/values.yaml
Labels: feature, patch, infra

#114 Adjust Resources
  charts/infra/values-ci.yaml
  charts/infra/values.yaml
Labels: feature, patch, infra
